
.instructions-pane {
    display: flex;
    flex: 1;
    background: white;
    border-radius: 0px 0px 5px 0px;
    transition: all 0.4s 0.2s;
}

.pin-left {
    flex-direction: column;
    order: -10;

    section.pin-button-section {
        flex-direction: row;
    }

    section.tasks-section {
        flex-direction: column;
    }
}

.pin-right {
    flex-direction: column;
    order: 10;
    
    section.pin-button-section {
        flex-direction: row;
    }

    section.tasks-section {
        flex-direction: column;
    }
}

.pin-bottom {
    flex-direction: row;
    order: 10;
    
    section.pin-button-section {
        flex-direction: column;
    }

    section.tasks-section {
        flex-direction: row;
    }
}

div.tasks-section {
    margin: 1em;
}
