$light-grey: rgb(255, 255, 255);

$logo-orange: rgb(209, 125, 49);
$dark-blue: rgb(53, 75, 89);

$bg-color: $light-grey;
$primary-text-color: $dark-blue;
$button-color: $dark-blue;
$timeline-bg: $dark-blue;
$map-floor-buttons: $bg-color;
$map-floor-button-border: $dark-blue;
$map-floor-button-selected: $dark-blue;
$session-horizontal-line-color: $dark-blue;
$link-text-color: $dark-blue;
$btn-g-plus-color: rgb(221, 76, 57);
$tab-indicator-color: $dark-blue;

$toilet-color: rgb(153, 204, 0);
$food-color: rgb(2, 148, 199);
$power-color: rgb(204, 74, 44);
$info-color: rgb(255, 136, 0);
$room-color: rgb(153, 51, 102);

$padding: 1rem;