a {
color: #15C;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

#homepage section a {
display: block;
font-size: 12px;
margin: 0 0 1.2em 0;
}

body {
font-family: 'Lucida Grande', sans-serif;
padding: 1.5em;
word-break: break-word;
}

#homepage div#intro {
	border-bottom: 1px solid #ccc;
	font-size: 14px;
	margin: 0 0 1.5em 0;
	padding: 0 0 1em 0;
}

div#searchInput {
  margin: 0 0 1em 0;
}

div#searchResults {
  max-height: 500px;
  overflow: auto;
}

footer {
  border-top: 1px solid #eee;
  margin: 1em 0 0 0;
  padding: 1em 0 0 0;
}

h1 {
border-bottom: 1px solid #eee;
color: #303942;
font-size: 18px;
font-weight: normal;
margin: 0 0 1.5em 0;
padding: 0 0 0.7em 0;
}

h2 {
color: black;
font-size: 14px;
font-weight: normal;
margin: 0 0 12px 0;
}

p {
color: #303942;
}

section {
	margin: 0 0 2em 0;
}

section:last-child {
border-bottom: none;
}

@media screen and (max-width: 1000px) {
/* smaller screens -- bit of a hack... */
  a, h1, h2, p {
		font-size: auto;
  }
}


