/* line 34, ../../app/styles/main.scss */
html, body {
  height: 100%;
  overflow: hidden;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #787878;
  background-color: #f9f9f9;
}

/* line 51, ../../app/styles/main.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/* line 55, ../../app/styles/main.scss */
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 59, ../../app/styles/main.scss */
.bold {
  font-weight: bold;
}

/* line 63, ../../app/styles/main.scss */
body > header {
  display: -webkit-flex;
  display: flex;
}
/* line 67, ../../app/styles/main.scss */
body > header h1, body > header a {
  line-height: 2rem;
}
/* line 71, ../../app/styles/main.scss */
body > header h1 {
  margin: 0.5rem 1rem;
  background-image: url("./../images/io_logo.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -9999px;
  -webkit-flex: 8;
  flex: 8;
}
/* line 82, ../../app/styles/main.scss */
body > header a {
  width: 48px;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding: 0.5rem 0;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}
/* line 97, ../../app/styles/main.scss */
body > header a:active, body > header a:hover {
  background-color: #ececec;
}
/* line 101, ../../app/styles/main.scss */
body > header .search {
  background-image: url("./../images/search_icon.png");
}
/* line 105, ../../app/styles/main.scss */
body > header .favorite {
  background-image: url("./../images/favorite_icon.png");
}
/* line 109, ../../app/styles/main.scss */
body > header .info {
  background-image: url("./../images/info_icon.png");
}
/* line 113, ../../app/styles/main.scss */
body > header .filter {
  background-image: url("./../images/filter_icon.png");
}
/* line 117, ../../app/styles/main.scss */
body > header select {
  margin: auto 0;
}

/* line 122, ../../app/styles/main.scss */
.main-content {
  /*This feels nasty, but makes flexbox, avoid stretching past the body 100% height*/
  height: 1px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1;
  flex: 1;
}

/* line 136, ../../app/styles/main.scss */
.info-pane {
  -webkit-flex: 4;
  flex: 4;
}

/* line 141, ../../app/styles/main.scss */
.menu-items-grid {
  -webkit-flex: 2;
  flex: 2;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
@media (min-width: 800px) {
  /* line 141, ../../app/styles/main.scss */
  .menu-items-grid {
    -webkit-flex: 1;
    flex: 1;
  }
}
/* line 159, ../../app/styles/main.scss */
.menu-items-grid a {
  -webkit-flex: 0 46%;
  flex: 0 46%;
  position: relative;
  min-height: 3rem;
  background-color: #bababa;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #f9f9f9;
}
@media (min-width: 800px) {
  /* line 159, ../../app/styles/main.scss */
  .menu-items-grid a {
    -webkit-flex: 0 24%;
    flex: 0 24%;
  }
}
@media (min-width: 580px) {
  /* line 159, ../../app/styles/main.scss */
  .menu-items-grid a {
    font-size: 2rem;
    min-height: 4rem;
  }
}
/* line 177, ../../app/styles/main.scss */
.menu-items-grid a span {
  position: absolute;
  display: inline-block;
  bottom: 0px;
  padding: 1rem;
  line-height: 1.0;
}
/* line 188, ../../app/styles/main.scss */
.menu-items-grid a:active, .menu-items-grid a:hover {
  background-color: #787878;
}

/* line 193, ../../app/styles/main.scss */
.wifi-details {
  margin: 1rem auto;
}
/* line 196, ../../app/styles/main.scss */
.wifi-details h2 {
  margin: 0;
}
/* line 200, ../../app/styles/main.scss */
.wifi-details td {
  padding: 0 0.5rem;
}

/* line 205, ../../app/styles/main.scss */
.sessions-now-next {
  display: none;
  -webkit-flex-direction: row;
  flex-direction: row;
  overflow-x: scroll;
}
@media (min-width: 800px) {
  /* line 205, ../../app/styles/main.scss */
  .sessions-now-next {
    display: -webkit-flex;
    display: flex;
  }
}
/* line 215, ../../app/styles/main.scss */
.sessions-now-next section {
  -webkit-flex: 1;
  flex: 1;
  position: relative;
  margin: 1rem;
  min-width: 12rem;
}
/* line 224, ../../app/styles/main.scss */
.sessions-now-next section h2 {
  position: absolute;
  height: 100%;
  width: 2rem;
  left: 0px;
  text-indent: -99999px;
  margin: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/* line 238, ../../app/styles/main.scss */
.sessions-now-next section h3, .sessions-now-next section p {
  padding-left: 3rem;
}
/* line 242, ../../app/styles/main.scss */
.sessions-now-next section h3 {
  margin: 1rem 0 0 0;
}
/* line 246, ../../app/styles/main.scss */
.sessions-now-next section p {
  margin: 0 0 1rem 0;
}
/* line 251, ../../app/styles/main.scss */
.sessions-now-next section.android h2 {
  background-color: #99cc00;
  background-image: url("./../images/product_icons/track_android.png");
}
/* line 256, ../../app/styles/main.scss */
.sessions-now-next section.android div {
  border-color: #99cc00;
}
/* line 262, ../../app/styles/main.scss */
.sessions-now-next section.chrome h2 {
  background-color: #0294c7;
  background-image: url("./../images/product_icons/track_chromeapps.png");
}
/* line 267, ../../app/styles/main.scss */
.sessions-now-next section.chrome div {
  border-color: #0294c7;
}
/* line 273, ../../app/styles/main.scss */
.sessions-now-next section.g-plus h2 {
  background-color: #cc4a2c;
  background-image: url("./../images/product_icons/track_googleplus.png");
}
/* line 278, ../../app/styles/main.scss */
.sessions-now-next section.g-plus div {
  border-color: #cc4a2c;
}
/* line 284, ../../app/styles/main.scss */
.sessions-now-next section.cloud h2 {
  background-color: #ff8800;
  background-image: url("./../images/product_icons/track_googlecloudplatform.png");
}
/* line 289, ../../app/styles/main.scss */
.sessions-now-next section.cloud div {
  border-color: #ff8800;
}
/* line 295, ../../app/styles/main.scss */
.sessions-now-next section.maps h2 {
  background-color: #ff4444;
  background-image: url("./../images/product_icons/track_googlemaps.png");
}
/* line 300, ../../app/styles/main.scss */
.sessions-now-next section.maps div {
  border-color: #ff4444;
}
/* line 306, ../../app/styles/main.scss */
.sessions-now-next section.youtube h2 {
  background-color: #cc0000;
  background-image: url("./../images/product_icons/track_youtube.png");
}
/* line 311, ../../app/styles/main.scss */
.sessions-now-next section.youtube div {
  border-color: #cc0000;
}

/* line 323, ../../app/styles/main.scss */
.schedule-grid {
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  -webkit-flex-direction: column;
}
/* line 330, ../../app/styles/main.scss */
.schedule-grid ::-webkit-scrollbar {
  display: none;
}

/* line 335, ../../app/styles/main.scss */
#timeline {
  display: -webkit-flex;
  list-style: none;
  margin: 0;
  padding: 0 0 0 10%;
  overflow-x: scroll;
  color: #f9f9f9;
}
/* line 343, ../../app/styles/main.scss */
#timeline li {
  background-color: #666666;
  display: block;
  border-left-style: solid;
  border-width: 1px;
  border-color: #f9f9f9;
}

/* line 355, ../../app/styles/main.scss */
.content {
  -webkit-flex: 9;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  height: 100%;
}

/* line 362, ../../app/styles/main.scss */
#tracks {
  list-style: none;
  width: 10%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  background-color: #bababa;
  color: #f9f9f9;
}
/* line 371, ../../app/styles/main.scss */
#tracks li {
  display: block;
  padding: 0 1rem;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #f9f9f9;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
}
/* line 383, ../../app/styles/main.scss */
#tracks li.android {
  background-color: #99cc00;
  background-image: url("./../images/product_icons/track_android.png");
}
/* line 388, ../../app/styles/main.scss */
#tracks li.chrome {
  background-color: #0294c7;
  background-image: url("./../images/product_icons/track_chromeapps.png");
}
/* line 393, ../../app/styles/main.scss */
#tracks li.g-plus {
  background-color: #cc4a2c;
  background-image: url("./../images/product_icons/track_googleplus.png");
}
/* line 398, ../../app/styles/main.scss */
#tracks li.cloud {
  background-color: #ff8800;
  background-image: url("./../images/product_icons/track_googlecloudplatform.png");
}
/* line 403, ../../app/styles/main.scss */
#tracks li.maps {
  background-color: #ff4444;
  background-image: url("./../images/product_icons/track_googlemaps.png");
}
/* line 408, ../../app/styles/main.scss */
#tracks li.youtube {
  background-color: #cc0000;
  background-image: url("./../images/product_icons/track_youtube.png");
}
/* line 413, ../../app/styles/main.scss */
#tracks li.glass {
  background-color: #47b7e6;
  background-image: url("./../images/product_icons/track_glass.png");
}
/* line 418, ../../app/styles/main.scss */
#tracks li.ads {
  background-color: #66cc66;
  background-image: url("./../images/product_icons/track_googleads.png");
}
/* line 423, ../../app/styles/main.scss */
#tracks li.wallet {
  background-color: #009966;
  background-image: url("./../images/product_icons/track_googlewallet.png");
}
/* line 428, ../../app/styles/main.scss */
#tracks li.knowledge {
  background-color: #3366cc;
  background-image: url("./../images/product_icons/track_knowledgestructureddata.png");
}
/* line 433, ../../app/styles/main.scss */
#tracks li.tech-talk {
  background-color: #99cc99;
  background-image: url("./../images/product_icons/track_techtalk.png");
}

/* line 440, ../../app/styles/main.scss */
#grid-content {
  -webkit-flex: 1;
  overflow: auto;
  background-color: white;
}
/* line 444, ../../app/styles/main.scss */
#grid-content .row {
  position: relative;
  background-image: url("./../images/schedule_bg.png");
}
/* line 448, ../../app/styles/main.scss */
#grid-content .row div {
  position: absolute;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #b9b9b9;
  overflow: hidden;
  background-color: white;
}
/* line 461, ../../app/styles/main.scss */
#grid-content .first-row div {
  border-top-style: solid;
}
