@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\0000328}}
html, body {
  height: 100%;
  overflow: hidden;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #787878;
  background-color: #f9f9f9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\0000345}}
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\0000349}}
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\0000353}}
.bold {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\0000357}}
body > header {
  display: -webkit-flex;
  display: flex;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\0000361}}
body > header h1, body > header a {
  line-height: 2rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\0000365}}
body > header h1 {
  margin: 0.5rem 1rem;
  background-image: url("./../images/io_logo.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -9999px;
  -webkit-flex: 8;
  flex: 8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\0000376}}
body > header a {
  width: 48px;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding: 0.5rem 0;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\0000391}}
body > header a:active, body > header a:hover {
  background-color: #ececec;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\0000395}}
body > header .search {
  background-image: url("./../images/search_icon.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\0000399}}
body > header .favorite {
  background-image: url("./../images/favorite_icon.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003103}}
body > header .info {
  background-image: url("./../images/info_icon.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003107}}
body > header .filter {
  background-image: url("./../images/filter_icon.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003111}}
body > header select {
  margin: auto 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003116}}
.main-content {
  /*This feels nasty, but makes flexbox, avoid stretching past the body 100% height*/
  height: 1px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1;
  flex: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003130}}
.info-pane {
  -webkit-flex: 4;
  flex: 4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003135}}
.menu-items-grid {
  -webkit-flex: 2;
  flex: 2;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
@media (min-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003135}}
  .menu-items-grid {
    -webkit-flex: 1;
    flex: 1;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003153}}
.menu-items-grid a {
  -webkit-flex: 0 46%;
  flex: 0 46%;
  position: relative;
  min-height: 3rem;
  background-color: #bababa;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #f9f9f9;
}
@media (min-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003153}}
  .menu-items-grid a {
    -webkit-flex: 0 24%;
    flex: 0 24%;
  }
}
@media (min-width: 580px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003153}}
  .menu-items-grid a {
    font-size: 2rem;
    min-height: 4rem;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003171}}
.menu-items-grid a span {
  position: absolute;
  display: inline-block;
  bottom: 0px;
  padding: 1rem;
  line-height: 1.0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003182}}
.menu-items-grid a:active, .menu-items-grid a:hover {
  background-color: #787878;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003187}}
.wifi-details {
  margin: 1rem auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003190}}
.wifi-details h2 {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003194}}
.wifi-details td {
  padding: 0 0.5rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003199}}
.sessions-now-next {
  display: none;
  -webkit-flex-direction: row;
  flex-direction: row;
  overflow-x: scroll;
}
@media (min-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003199}}
  .sessions-now-next {
    display: -webkit-flex;
    display: flex;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003209}}
.sessions-now-next section {
  -webkit-flex: 1;
  flex: 1;
  position: relative;
  margin: 1rem;
  min-width: 12rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003218}}
.sessions-now-next section h2 {
  position: absolute;
  height: 100%;
  width: 2rem;
  left: 0px;
  text-indent: -99999px;
  margin: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003232}}
.sessions-now-next section h3, .sessions-now-next section p {
  padding-left: 3rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003236}}
.sessions-now-next section h3 {
  margin: 1rem 0 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003240}}
.sessions-now-next section p {
  margin: 0 0 1rem 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003245}}
.sessions-now-next section.android h2 {
  background-color: #99cc00;
  background-image: url("./../images/product_icons/track_android.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003250}}
.sessions-now-next section.android div {
  border-color: #99cc00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003256}}
.sessions-now-next section.chrome h2 {
  background-color: #0294c7;
  background-image: url("./../images/product_icons/track_chromeapps.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003261}}
.sessions-now-next section.chrome div {
  border-color: #0294c7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003267}}
.sessions-now-next section.g-plus h2 {
  background-color: #cc4a2c;
  background-image: url("./../images/product_icons/track_googleplus.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003272}}
.sessions-now-next section.g-plus div {
  border-color: #cc4a2c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003278}}
.sessions-now-next section.cloud h2 {
  background-color: #ff8800;
  background-image: url("./../images/product_icons/track_googlecloudplatform.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003283}}
.sessions-now-next section.cloud div {
  border-color: #ff8800;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003289}}
.sessions-now-next section.maps h2 {
  background-color: #ff4444;
  background-image: url("./../images/product_icons/track_googlecloudplatform.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003294}}
.sessions-now-next section.maps div {
  border-color: #ff4444;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003300}}
.sessions-now-next section.youtube h2 {
  background-color: #cc0000;
  background-image: url("./../images/product_icons/track_youtube.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003305}}
.sessions-now-next section.youtube div {
  border-color: #cc0000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003317}}
.schedule-grid {
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  -webkit-flex-direction: column;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003324}}
.schedule-grid ::-webkit-scrollbar {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003329}}
#timeline {
  display: -webkit-flex;
  list-style: none;
  margin: 0;
  padding: 0 0 0 125px;
  overflow-x: scroll;
  background-color: #969696;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003337}}
#timeline li {
  display: block;
  /*One hour == 120px i.e. 2px per minute*/
  min-width: 104px;
  padding: 8px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003345}}
.content {
  -webkit-flex: 9;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  height: 100%;
  background-color: #32ffff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003353}}
#locations {
  list-style: none;
  width: 125px;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  background-color: #c8c8c8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003361}}
#locations li {
  display: block;
  height: 49px;
  line-height: 50px;
  padding: 0 1rem;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #b9b9b9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003372}}
#grid-content {
  -webkit-flex: 1;
  overflow: auto;
  background-color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003377}}
#grid-content .row {
  width: 2880px;
  height: 49px;
  line-height: 50px;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #b9b9b9;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003386}}
#grid-content .row div {
  position: absolute;
}

/* === safe patching other classes === */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/_map\.scss}line{font-family:\000035}}
#map-main .main-content {
  position: relative;
}

/* === map specific classes === */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/_map\.scss}line{font-family:\0000314}}
.map-content {
  margin: 1rem;
  border: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/_map\.scss}line{font-family:\0000320}}
.map-current-talk {
  position: absolute;
  top: 3rem;
  left: 5rem;
  width: 250px;
  background: #bababa;
  border: 1px solid #787878;
  border-bottom: 0;
  pointer-events: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/_map\.scss}line{font-family:\0000332}}
.map-current-talk div {
  margin: 1rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/_map\.scss}line{font-family:\0000336}}
.map-current-talk h1 {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/_map\.scss}line{font-family:\0000340}}
.map-current-talk .map-talk-type {
  margin: 10px 0 0 0;
  font-weight: 600;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/_map\.scss}line{font-family:\0000345}}
.map-current-talk dl {
  margin: 0;
  display: -webkit-flex;
  display: flex;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/_map\.scss}line{font-family:\0000350}}
.map-current-talk dl dt, .map-current-talk dl dd {
  margin: 0;
  -webkit-flex: 1;
  flex: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/_map\.scss}line{font-family:\0000355}}
.map-current-talk dl dd {
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/_map\.scss}line{font-family:\0000360}}
.map-current-talk .map-talk-end {
  position: absolute;
  top: 100%;
  left: -1px;
  width: calc(100% + 1px);
  height: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/_map\.scss}line{font-family:\0000368}}
.map-current-talk .map-talk-end polygon {
  fill: #bababa;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/_map\.scss}line{font-family:\0000371}}
.map-current-talk .map-talk-end line {
  vector-effect: non-scaling-stroke;
  stroke-width: 1px;
  stroke: #787878;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/_map\.scss}line{font-family:\0000381}}
span[data-acts-as-select] {
  width: 58px;
  height: 58px;
  margin: 0.5rem 1rem;
  display: block;
  position: relative;
  background-color: #f9f9f9;
  font-family: Georgia;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/_map\.scss}line{font-family:\0000391}}
span[data-acts-as-select] > span {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/_map\.scss}line{font-family:\00003100}}
span[data-acts-as-select]:after {
  position: absolute;
  content: '▾';
  display: block;
  right: 0;
  bottom: -5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/_map\.scss}line{font-family:\00003107}}
span[data-acts-as-select] label {
  display: none;
  white-space: nowrap;
  padding: 5px;
  cursor: pointer;
  background-color: #f9f9f9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/_map\.scss}line{font-family:\00003114}}
span[data-acts-as-select] label:hover {
  background-color: #bababa;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/_map\.scss}line{font-family:\00003118}}
span[data-acts-as-select] label img {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/_map\.scss}line{font-family:\00003123}}
span[data-acts-as-select] input[type=radio] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/_map\.scss}line{font-family:\00003127}}
span[data-acts-as-select] input[type=radio]:checked + label {
  display: block;
  position: absolute;
  bottom: 100%;
  left: 0;
  background-color: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sandro\/Yeoman\/conf\/proto\/app\/styles\/_map\.scss}line{font-family:\00003136}}
span[data-acts-as-select]:hover label {
  display: block;
}
