@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\0000330}}
html, body {
  height: 100%;
  overflow: hidden;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #787878;
  background-color: #f9f9f9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\0000347}}
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\0000351}}
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\0000355}}
.bold {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\0000359}}
body > header {
  display: -webkit-flex;
  display: flex;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\0000363}}
body > header h1, body > header a {
  line-height: 2rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\0000367}}
body > header h1 {
  margin: 0.5rem 1rem;
  background-image: url("./../images/io_logo.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -9999px;
  -webkit-flex: 8;
  flex: 8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\0000378}}
body > header a {
  width: 48px;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding: 0.5rem 0;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\0000393}}
body > header a:active, body > header a:hover {
  background-color: #ececec;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\0000397}}
body > header .search {
  background-image: url("./../images/search_icon.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003101}}
body > header .favorite {
  background-image: url("./../images/favorite_icon.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003105}}
body > header .info {
  background-image: url("./../images/info_icon.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003109}}
body > header .filter {
  background-image: url("./../images/filter_icon.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003113}}
body > header select {
  margin: auto 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003118}}
.main-content {
  /*This feels nasty, but makes flexbox, avoid stretching past the body 100% height*/
  height: 1px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1;
  flex: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003132}}
.info-pane {
  -webkit-flex: 4;
  flex: 4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003137}}
.menu-items-grid {
  -webkit-flex: 2;
  flex: 2;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
@media (min-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003137}}
  .menu-items-grid {
    -webkit-flex: 1;
    flex: 1;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003155}}
.menu-items-grid a {
  -webkit-flex: 0 46%;
  flex: 0 46%;
  position: relative;
  min-height: 3rem;
  background-color: #bababa;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #f9f9f9;
}
@media (min-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003155}}
  .menu-items-grid a {
    -webkit-flex: 0 24%;
    flex: 0 24%;
  }
}
@media (min-width: 580px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003155}}
  .menu-items-grid a {
    font-size: 2rem;
    min-height: 4rem;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003173}}
.menu-items-grid a span {
  position: absolute;
  display: inline-block;
  bottom: 0px;
  padding: 1rem;
  line-height: 1.0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003184}}
.menu-items-grid a:active, .menu-items-grid a:hover {
  background-color: #787878;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003189}}
.wifi-details {
  margin: 1rem auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003192}}
.wifi-details h2 {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003196}}
.wifi-details td {
  padding: 0 0.5rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003201}}
.sessions-now-next {
  display: none;
  -webkit-flex-direction: row;
  flex-direction: row;
  overflow-x: scroll;
}
@media (min-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003201}}
  .sessions-now-next {
    display: -webkit-flex;
    display: flex;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003211}}
.sessions-now-next section {
  -webkit-flex: 1;
  flex: 1;
  position: relative;
  margin: 1rem;
  min-width: 12rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003220}}
.sessions-now-next section h2 {
  position: absolute;
  height: 100%;
  width: 2rem;
  left: 0px;
  text-indent: -99999px;
  margin: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003234}}
.sessions-now-next section h3, .sessions-now-next section p {
  padding-left: 3rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003238}}
.sessions-now-next section h3 {
  margin: 1rem 0 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003242}}
.sessions-now-next section p {
  margin: 0 0 1rem 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003247}}
.sessions-now-next section.android h2 {
  background-color: #99cc00;
  background-image: url("./../images/product_icons/track_android.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003252}}
.sessions-now-next section.android div {
  border-color: #99cc00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003258}}
.sessions-now-next section.chrome h2 {
  background-color: #0294c7;
  background-image: url("./../images/product_icons/track_chromeapps.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003263}}
.sessions-now-next section.chrome div {
  border-color: #0294c7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003269}}
.sessions-now-next section.g-plus h2 {
  background-color: #cc4a2c;
  background-image: url("./../images/product_icons/track_googleplus.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003274}}
.sessions-now-next section.g-plus div {
  border-color: #cc4a2c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003280}}
.sessions-now-next section.cloud h2 {
  background-color: #ff8800;
  background-image: url("./../images/product_icons/track_googlecloudplatform.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003285}}
.sessions-now-next section.cloud div {
  border-color: #ff8800;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003291}}
.sessions-now-next section.maps h2 {
  background-color: #ff4444;
  background-image: url("./../images/product_icons/track_googlecloudplatform.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003296}}
.sessions-now-next section.maps div {
  border-color: #ff4444;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003302}}
.sessions-now-next section.youtube h2 {
  background-color: #cc0000;
  background-image: url("./../images/product_icons/track_youtube.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003307}}
.sessions-now-next section.youtube div {
  border-color: #cc0000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003319}}
.schedule-grid {
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  -webkit-flex-direction: column;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003326}}
.schedule-grid ::-webkit-scrollbar {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003331}}
#timeline {
  display: -webkit-flex;
  list-style: none;
  margin: 0;
  padding: 0 0 0 125px;
  overflow-x: scroll;
  background-color: #969696;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003339}}
#timeline li {
  display: block;
  /*One hour == 120px i.e. 2px per minute*/
  min-width: 104px;
  padding: 8px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003347}}
.content {
  -webkit-flex: 9;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  height: 100%;
  background-color: #32ffff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003355}}
#locations {
  list-style: none;
  width: 125px;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  background-color: #c8c8c8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003363}}
#locations li {
  display: block;
  height: 49px;
  line-height: 50px;
  padding: 0 1rem;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #b9b9b9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003374}}
#grid-content {
  -webkit-flex: 1;
  overflow: auto;
  background-color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003379}}
#grid-content .row {
  width: 2880px;
  height: 49px;
  line-height: 50px;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #b9b9b9;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/google\/home\/mattgaunt\/Programming\/Sites\/conf\/proto\/app\/styles\/main\.scss}line{font-family:\00003388}}
#grid-content .row div {
  position: absolute;
}
