/* line 30, ../../app/styles/main-1.scss */
html, body {
  height: 100%;
  overflow: hidden;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #787878;
  background-color: #f9f9f9;
}

/* line 47, ../../app/styles/main-1.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/* line 51, ../../app/styles/main-1.scss */
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 55, ../../app/styles/main-1.scss */
body > header {
  display: -webkit-flex;
  display: flex;
}
/* line 59, ../../app/styles/main-1.scss */
body > header h1, body > header a {
  line-height: 2rem;
}
/* line 63, ../../app/styles/main-1.scss */
body > header h1 {
  margin: 0.5rem 1rem;
  background-image: url("./../images/io_logo.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -9999px;
  -webkit-flex: 8;
  flex: 8;
}
/* line 74, ../../app/styles/main-1.scss */
body > header a {
  width: 48px;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding: 0.5rem 0;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}
/* line 89, ../../app/styles/main-1.scss */
body > header a:active, body > header a:hover {
  background-color: #ececec;
}
/* line 93, ../../app/styles/main-1.scss */
body > header .search {
  background-image: url("./../images/search_icon.png");
}
/* line 97, ../../app/styles/main-1.scss */
body > header .favorite {
  background-image: url("./../images/favorite_icon.png");
}
/* line 101, ../../app/styles/main-1.scss */
body > header .info {
  background-image: url("./../images/info_icon.png");
}
/* line 105, ../../app/styles/main-1.scss */
body > header select {
  margin: auto 0;
}

/* line 110, ../../app/styles/main-1.scss */
.main-content {
  /*This feels nasty, but makes flexbox, avoid stretching past the body 100% height*/
  height: 1px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex: 1;
  flex: 1;
}

/* line 124, ../../app/styles/main-1.scss */
.left-pane {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1 1;
  flex: 1 1;
}
/* line 134, ../../app/styles/main-1.scss */
.left-pane .info-pane {
  -webkit-flex: 4;
  flex: 4;
}
/* line 139, ../../app/styles/main-1.scss */
.left-pane .menu-items-grid {
  -webkit-flex: 3;
  flex: 3;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
/* line 155, ../../app/styles/main-1.scss */
.left-pane .menu-items-grid a {
  -webkit-flex: 0 46%;
  flex: 0 46%;
  position: relative;
  min-height: 3rem;
  background-color: #bababa;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #f9f9f9;
}
@media (min-width: 580px) {
  /* line 155, ../../app/styles/main-1.scss */
  .left-pane .menu-items-grid a {
    font-size: 2rem;
    min-height: 4rem;
  }
}
/* line 171, ../../app/styles/main-1.scss */
.left-pane .menu-items-grid a span {
  position: absolute;
  display: inline-block;
  bottom: 0px;
  padding: 1rem;
  line-height: 1.0;
}
/* line 182, ../../app/styles/main-1.scss */
.left-pane .menu-items-grid a:active, .left-pane .menu-items-grid a:hover {
  background-color: #787878;
}
/* line 187, ../../app/styles/main-1.scss */
.left-pane .wifi-details {
  margin: 1rem auto;
}
/* line 190, ../../app/styles/main-1.scss */
.left-pane .wifi-details h2 {
  margin: 0;
}
/* line 194, ../../app/styles/main-1.scss */
.left-pane .wifi-details td {
  padding: 0 0.5rem;
}

/* line 200, ../../app/styles/main-1.scss */
.right-pane {
  display: none;
  -webkit-flex: 1 1;
  flex: 1 1;
  padding: 1rem;
  overflow-y: scroll;
}
@media (min-width: 800px) {
  /* line 200, ../../app/styles/main-1.scss */
  .right-pane {
    display: block;
  }
}

/* line 213, ../../app/styles/main-1.scss */
table.sessions-now-next {
  width: 100%;
}
/* line 217, ../../app/styles/main-1.scss */
table.sessions-now-next tr:first-child > td {
  padding: 0 1rem;
}
/* line 221, ../../app/styles/main-1.scss */
table.sessions-now-next h2 {
  width: 3rem;
  text-indent: -99999px;
  margin: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/* line 232, ../../app/styles/main-1.scss */
table.sessions-now-next h3, table.sessions-now-next p {
  margin: 1rem;
}
/* line 236, ../../app/styles/main-1.scss */
table.sessions-now-next td.active, table.sessions-now-next .heading {
  border-top-style: solid;
  border-width: 0.5rem;
}
/* line 241, ../../app/styles/main-1.scss */
table.sessions-now-next td {
  width: 50%;
}
/* line 245, ../../app/styles/main-1.scss */
table.sessions-now-next td:first-child {
  width: auto;
}
/* line 250, ../../app/styles/main-1.scss */
table.sessions-now-next .android .heading {
  background-color: #99cc00;
}
/* line 254, ../../app/styles/main-1.scss */
table.sessions-now-next .android h2 {
  background-image: url("./../images/product_icons/track_android.png");
}
/* line 258, ../../app/styles/main-1.scss */
table.sessions-now-next .android td.active, table.sessions-now-next .android .heading {
  border-color: #99cc00;
}
/* line 264, ../../app/styles/main-1.scss */
table.sessions-now-next .chrome .heading {
  background-color: #0294c7;
}
/* line 268, ../../app/styles/main-1.scss */
table.sessions-now-next .chrome h2 {
  background-image: url("./../images/product_icons/track_chromeapps.png");
}
/* line 272, ../../app/styles/main-1.scss */
table.sessions-now-next .chrome td.active, table.sessions-now-next .chrome .heading {
  border-color: #0294c7;
}
/* line 278, ../../app/styles/main-1.scss */
table.sessions-now-next .g-plus .heading {
  background-color: #cc4a2c;
}
/* line 282, ../../app/styles/main-1.scss */
table.sessions-now-next .g-plus h2 {
  background-image: url("./../images/product_icons/track_googleplus.png");
}
/* line 286, ../../app/styles/main-1.scss */
table.sessions-now-next .g-plus td.active, table.sessions-now-next .g-plus .heading {
  border-color: #cc4a2c;
}
/* line 292, ../../app/styles/main-1.scss */
table.sessions-now-next .cloud .heading {
  background-color: #ff8800;
}
/* line 296, ../../app/styles/main-1.scss */
table.sessions-now-next .cloud h2 {
  background-image: url("./../images/product_icons/track_googlecloudplatform.png");
}
/* line 300, ../../app/styles/main-1.scss */
table.sessions-now-next .cloud td.active, table.sessions-now-next .cloud .heading {
  border-color: #ff8800;
}
/* line 306, ../../app/styles/main-1.scss */
table.sessions-now-next .maps .heading {
  background-color: #ff4444;
}
/* line 310, ../../app/styles/main-1.scss */
table.sessions-now-next .maps h2 {
  background-image: url("./../images/product_icons/track_googlecloudplatform.png");
}
/* line 314, ../../app/styles/main-1.scss */
table.sessions-now-next .maps td.active, table.sessions-now-next .maps .heading {
  border-color: #ff4444;
}
/* line 320, ../../app/styles/main-1.scss */
table.sessions-now-next .youtube .heading {
  background-color: #cc0000;
}
/* line 324, ../../app/styles/main-1.scss */
table.sessions-now-next .youtube h2 {
  background-image: url("./../images/product_icons/track_youtube.png");
}
/* line 328, ../../app/styles/main-1.scss */
table.sessions-now-next .youtube td.active, table.sessions-now-next .youtube .heading {
  border-color: #cc0000;
}

/* line 334, ../../app/styles/main-1.scss */
section.sessions-now-next {
  -webkit-flex: 1 1;
  flex: 1 1;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 1rem;
}
/* line 346, ../../app/styles/main-1.scss */
section.sessions-now-next section {
  -webkit-flex: 1 1;
  flex: 1 1;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin: 0 auto;
}
/* line 361, ../../app/styles/main-1.scss */
section.sessions-now-next section div.sessions {
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
}
/* line 376, ../../app/styles/main-1.scss */
section.sessions-now-next section div.sessions div {
  -webkit-flex: 0 49%;
  flex: 0 49%;
  border-top-style: solid;
  border-width: 0.5rem;
}
/* line 383, ../../app/styles/main-1.scss */
section.sessions-now-next section div.sessions div h3, section.sessions-now-next section div.sessions div p {
  margin: 1rem;
}
/* line 388, ../../app/styles/main-1.scss */
section.sessions-now-next section div.sessions div:active, section.sessions-now-next section div.sessions div:hover {
  background-color: #ececec;
}
/* line 395, ../../app/styles/main-1.scss */
section.sessions-now-next section h2 {
  width: 3rem;
  text-indent: -99999px;
  margin: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/* line 407, ../../app/styles/main-1.scss */
section.sessions-now-next section.android h2 {
  background-color: #99cc00;
  background-image: url("./../images/product_icons/track_android.png");
}
/* line 412, ../../app/styles/main-1.scss */
section.sessions-now-next section.android div {
  border-color: #99cc00;
}
/* line 418, ../../app/styles/main-1.scss */
section.sessions-now-next section.chrome h2 {
  background-color: #0294c7;
  background-image: url("./../images/product_icons/track_chromeapps.png");
}
/* line 423, ../../app/styles/main-1.scss */
section.sessions-now-next section.chrome div {
  border-color: #0294c7;
}
/* line 429, ../../app/styles/main-1.scss */
section.sessions-now-next section.g-plus h2 {
  background-color: #cc4a2c;
  background-image: url("./../images/product_icons/track_googleplus.png");
}
/* line 434, ../../app/styles/main-1.scss */
section.sessions-now-next section.g-plus div {
  border-color: #cc4a2c;
}
/* line 440, ../../app/styles/main-1.scss */
section.sessions-now-next section.cloud h2 {
  background-color: #ff8800;
  background-image: url("./../images/product_icons/track_googlecloudplatform.png");
}
/* line 445, ../../app/styles/main-1.scss */
section.sessions-now-next section.cloud div {
  border-color: #ff8800;
}
/* line 451, ../../app/styles/main-1.scss */
section.sessions-now-next section.maps h2 {
  background-color: #ff4444;
  background-image: url("./../images/product_icons/track_googlecloudplatform.png");
}
/* line 456, ../../app/styles/main-1.scss */
section.sessions-now-next section.maps div {
  border-color: #ff4444;
}
/* line 462, ../../app/styles/main-1.scss */
section.sessions-now-next section.youtube h2 {
  background-color: #cc0000;
  background-image: url("./../images/product_icons/track_youtube.png");
}
/* line 467, ../../app/styles/main-1.scss */
section.sessions-now-next section.youtube div {
  border-color: #cc0000;
}
