@import "compass/css3";

$light-grey: rgb(249, 249, 249);
$grey: rgb(186, 186, 186);
$dark-grey: rgb(120, 120, 120);

$bg-color: $light-grey;
$primary-text-color: $dark-grey;

// Product Area Colors
$android-color: rgb(153, 204, 0);
$chrome-color: rgb(2, 148, 199);
$google-plus-color: rgb(204, 74, 44);
$cloud-color: rgb(255, 136, 0);
$google-maps-color: rgb(255, 68, 68);
$youtube-color: rgb(204, 0, 0);
$glass-color: rgb(71, 183, 230);
$ads-color: rgb(102, 204, 102);
$wallet-color: rgb(0, 153, 102);
$knowledge-color: rgb(51, 102, 204);
$tech-talk-color: rgb(153, 204, 153);

$padding: 1rem;

@mixin breakpoint($point) {
  @if $point == M {
    @media (min-width: 580px) { @content; }
  }
  @else if $point == L {
    @media (min-width: 800px)  { @content; }
  }
}

html, body {
    height: 100%;
    overflow: hidden;

    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    color: $primary-text-color;
    background-color: $bg-color;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

a {
    -webkit-tap-highlight-color: rgba(0,0,0, 0.0);
}

.bold {
    font-weight: bold;
}

body {
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;
}

body > header {
    display: -webkit-flex;
    display: flex;

    h1, a {
        line-height: 2rem;
    }

    h1 {
        margin: ($padding / 2) $padding;

        background-image: url('./../images/io_logo.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        text-indent: -9999px;
        -webkit-flex: 8;
        flex: 8;
    }

    a {
        width: 48px;
        display:inline-block;

        -webkit-justify-content: flex-end;
        justify-content: flex-end;

        padding: ($padding / 2) 0;

        text-indent: -9999px;

        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;
    }

    a:active, a:hover {
        background-color: darken($light-grey, 5%);
    }

    .search {
        background-image: url('./../images/search_icon.png');
    }

    .favorite {
        background-image: url('./../images/favorite_icon.png');
    }

    .info {
        background-image: url('./../images/info_icon.png');
    }

    .filter {
        background-image: url('./../images/filter_icon.png');
    }

    select {
        margin: auto 0;
    }
}

.main-content {
    /*This feels nasty, but makes flexbox, avoid stretching past the body 100% height*/
    height: 1px;

    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;

    -webkit-flex: 1;
    flex: 1;
}

.info-pane {
    -webkit-flex: 4;
    flex: 4;
}

.menu-items-grid {
    -webkit-flex: 2;
    flex: 2;

    @include breakpoint(L) { -webkit-flex: 1; flex: 1; };

    display: -webkit-flex;
    display: flex;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    -webkit-flex-direction: row;
    flex-direction: row;

    -webkit-justify-content: space-around;
    justify-content: space-around;
    
    min-height: 4rem;

    a {
        -webkit-flex: 0 46%;
        flex: 0 46%;

        position: relative;

        min-height: 4rem;

        background-color: $grey;
        margin-bottom: $padding;
        font-size: 1.5rem;

        color: $bg-color;

        span {
            position: absolute;

            display:inline-block;

            bottom: 0px;
            padding: 1rem;
            line-height: 1.0;
        }
    }

    a:active, a:hover {
        background-color: $dark-grey;
    }
}

.wifi-details {
    margin: $padding auto;

    h2{
        margin:0;
    }

    td {
        padding: 0 ($padding / 2);
    }
}

.sessions-now-next {
    display: none;

    -webkit-flex-direction: row;
    flex-direction: row;

    overflow-x: scroll;
    /* Nasty property required for flinging on iOS devices */
    -webkit-overflow-scrolling: touch;

    section {

        position: relative;
        margin: $padding;

        min-width: 12rem;

        h2 {
            position: absolute;
            height: 100%;
            width: 2 * $padding;
            left: 0px;

            text-indent: -99999px;
            margin: 0;

            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        h3, p {
            padding-left: 3 * $padding;;
        }

        h3 {
            margin: $padding 0 0 0;
        }

        p {
            margin: 0 0 $padding 0;
        }

        &.android {
            h2 {
                background-color: $android-color;
                background-image: url('./../images/product_icons/track_android.png');
            }

            div {
                border-color: $android-color;
            }
        }

        &.chrome {
            h2 {
                background-color: $chrome-color;
                background-image: url('./../images/product_icons/track_chromeapps.png');
            }

            div {
                border-color: $chrome-color;
            }
        }

        &.g-plus {
            h2 {
                background-color: $google-plus-color;
                background-image: url('./../images/product_icons/track_googleplus.png');
            }

            div {
                border-color: $google-plus-color;
            }
        }

        &.cloud {
            h2 {
                background-color: $cloud-color;
                background-image: url('./../images/product_icons/track_googlecloudplatform.png');
            }

            div {
                border-color: $cloud-color;
            }
        }

        &.maps {
            h2 {
                background-color: $google-maps-color;
                background-image: url('./../images/product_icons/track_googlemaps.png');
            }

            div {
                border-color: $google-maps-color;
            }
        }

        &.youtube {
            h2 {
                background-color: $youtube-color;
                background-image: url('./../images/product_icons/track_youtube.png');
            }

            div {
                border-color: $youtube-color;
            }
        }
    }
}

$pixels-per-minute: 2px;
$tracks-width: 10%;
$row-height: 50px;
$number-of-rooms: 10;

.schedule-grid {
    -webkit-flex: 1;
    flex: 1;

    display: -webkit-flex;
    -webkit-flex-direction: column;

    ::-webkit-scrollbar {
        display: none;
    }
}

#timeline {
    display: -webkit-flex;
    list-style: none;
    margin: 0;
    padding: 0 0 0 $tracks-width;
    overflow-x: scroll;
    color: $light-grey;

    li {
        $border-width: 1px;
        background-color: rgb(102, 102, 102);

        display: block;

        border-left-style: solid;
        border-width: $border-width;
        border-color: $bg-color;
    }
}

.content {
    -webkit-flex: 1;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    height: 100%;
}

#tracks {
    list-style: none;
    width: $tracks-width;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    background-color: $grey;
    color: $light-grey;

    li {
        display: block;
        padding: 0 $padding;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: $bg-color;

        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        text-indent: -9999px;

        &.android {
            background-color: $android-color;
            background-image: url('./../images/product_icons/track_android.png');
        }

        &.chrome {
            background-color: $chrome-color;
            background-image: url('./../images/product_icons/track_chromeapps.png');
        }

        &.g-plus {
            background-color: $google-plus-color;
            background-image: url('./../images/product_icons/track_googleplus.png');
        }

        &.cloud {
            background-color: $cloud-color;
            background-image: url('./../images/product_icons/track_googlecloudplatform.png');
        }

        &.maps {
            background-color: $google-maps-color;
            background-image: url('./../images/product_icons/track_googlemaps.png');
        }

        &.youtube {
            background-color: $youtube-color;
            background-image: url('./../images/product_icons/track_youtube.png');
        }

        &.glass {
            background-color: $glass-color;
            background-image: url('./../images/product_icons/track_glass.png');
        }

        &.ads {
            background-color: $ads-color;
            background-image: url('./../images/product_icons/track_googleads.png');
        }

        &.wallet {
            background-color: $wallet-color;
            background-image: url('./../images/product_icons/track_googlewallet.png');
        }

        &.knowledge {
            background-color: $knowledge-color;
            background-image: url('./../images/product_icons/track_knowledgestructureddata.png');
        }

        &.tech-talk {
            background-color: $tech-talk-color;
            background-image: url('./../images/product_icons/track_techtalk.png');
        }
    }
}

#grid-content {
    -webkit-flex: 1;

    overflow: scroll;
    /* Nasty property required for flinging on iOS devices */
    -webkit-overflow-scrolling: touch;

    background-color: rgb(255, 255, 255);
    .row {
        position: relative;
        background-image: url('./../images/schedule_bg.png');

        div {
            position: absolute;
            border-left-style: solid;
            border-right-style: solid;
            border-bottom-style: solid;
            border-width: 1px;
            border-color: rgb(185, 185, 185);
            overflow: hidden;
            background-color: rgb(255, 255, 255);
        }
    }

    .first-row {
        div {
            border-top-style: solid;
        }
    }
}

@import "map";

@import "1-fallback";
@import "2-medium";
@import "3-large";


