@import "compass/css3";

.no-flexbox.flexboxlegacy {
    body {
        @include display-box;
        @include box-orient(vertical);
    }

    body > header {
        @include display-box;
        @include box-orient(horizontal);

        h1 {
            @include box-flex(8);
        }
    }

    .main-content {
        @include display-box;
        @include box-orient(vertical);

        @include box-flex(1);
    }

    .info-pane {
        @include box-flex(4);
    }

    .menu-items-grid {
        a {
            width: 49%;
        }

        a:nth-child(2n) {
            float: left;
        }

        a:nth-child(2n+1) {
            float: right;
        }

        a:after {
            content: '';
            clear: both;
        }
    }

    .sessions-now-next {
        @include box-orient(horizontal);
    }

    .schedule-grid {
        @include box-flex(1);

        @include display-box;
        @include box-orient(vertical);
    }

    #timeline {
        @include display-box;
        @include box-orient(horizontal);
        @include box-flex(0);
    }

    .content {
        @include box-flex(1);
        display: block;
        position: relative;
        height: 1px;

    }

    $tracks-width: 10%;
    #tracks {
        display:block;
        position:absolute;
        left: 0px;
        height: 100%;
    }

    #grid-content {
        display: block;
        position:absolute;
        left: $tracks-width;
        width: 94%;
        height: 100%;
    }
}