@media screen and (min-width:580px) {
    .menu-items-grid { 
        min-height: 5rem;
        a {
            font-size: 2rem;
            min-height: 5rem;
        }
    }

    .speaker {
	    height:96px;
	    min-width: 480px;
	    font-size: 2em;
	}

	.speaker-thumbnail {
	    width: 200px;
	    height: 200px;
	    margin: -20px;
	}

	.speaker-info {
	    margin-left: 144px;
	}

}