@import "compass/css3";

$padding: 1rem;

@media screen and (min-width:720px) {
    .menu-items-grid > a {
        -webkit-flex: 0 24%; flex: 0 24%;
    }

    .sessions-now-next {
        display: -webkit-flex; display: flex;
    }

    $tracks-width: 5%;
    #tracks {
        width: $tracks-width;
    }

    #timeline {
        padding-left: $tracks-width;
    }

    .no-flexbox.flexboxlegacy {
        .menu-items-grid {
            @include display-box;
            @include box-orient(horizontal);

            a {
                display: block;
                width: auto;
                margin: 0 ($padding / 4);
                @include box-flex(1);
            }

            a:nth-child(2n), a:nth-child(2n+1) {
                float: none;
            }
        }

        .sessions-now-next {
            @include display-box;   
        }

        #grid-content {
            left: $tracks-width;
        }
    }

    // map
    .map-current-talk{
        width: 250px;
        opacity: 1;

        h1{
            font-size: 16px;
        }

        .map-talk-type{
            display: block;
            font-size: 16px;
        }

        dl{
            font-size: 16px;
        }    
    }
}