@import "compass/css3";

$padding: 1rem;

@media screen and (min-width:720px) {
    .menu-items-grid > a {
        -webkit-flex: 0 24%; flex: 0 24%;
    }

    .sessions-now-next {
        display: -webkit-flex; display: flex;
    }

    .flexboxlegacy {
        .menu-items-grid {
            @include display-box;
            @include box-orient(horizontal);

            a {
                display: block;
                width: auto;
                margin: 0 ($padding / 4);
                @include box-flex(1);
            }

            a:nth-child(2n), a:nth-child(2n+1) {
                float: none;
            }
        }

        .sessions-now-next {
            @include display-box;   
        }
    }
}