/* === safe patching other classes === */
#map-main{

	// adding flex
	.main-content{
		position: relative;
	}

}

/* === map specific classes === */

// pin
.map-pins{
	background: url(./../images/pin-icon.png); 
}

// main iframe
.map-content{
	margin: 1rem;
	border: 0;
}

// curent-talk badge
.map-current-talk{
	position: absolute;
	top: 3rem;
	left: 5rem;

	width: 250px;
	background: $grey;
	border: 1px solid $dark-grey;
	border-bottom: 0;

	pointer-events: none;

	div{
		margin: 1rem;
	}

	h1{
		margin: 0;	
	}

	.map-talk-type{
		margin: 10px 0 0 0;
		font-weight: 600;
	}

	dl{
		margin: 0;
		display: -webkit-flex;
    display: flex;

    dt, dd{
    	margin: 0;
    	-webkit-flex: 1;
    	flex: 1;
    }
    dd{
    	text-align: right;
    }
	}

	.map-talk-end{
		position: absolute;
		top: 100%;
		left: -1px;
		width: calc(100% + 1px);

		height: 40px;

		polygon{
			fill: $grey;
		}
		line{
			vector-effect: non-scaling-stroke;
			stroke-width: 1px;
			stroke: $dark-grey;
		}
	}	
}