/* === safe patching other classes === */
#map-main{

	// adding flex
	.main-content{       
    overflow: hidden;
    position: relative;
    margin: 1rem;
    background: $grey;
	}

}

/* === map specific classes === */

// main iframe
.map-content{
	border: 0;
  height: 100%;
  width: 100%;
}

.main-map{
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;   
  @include transition(-webkit-transform, 0.3s);
}

// filters
#filters:target + .main-content > .main-map{
  @include transform(translateY(230px));
}

.filters-map{
  position: relative;
}

.close-filter{
  display: block;
  position: absolute;
  top: 0;
  right: 5px;
  text-decoration: none;
  color: $light-grey;
}

.filters-form{
  padding: 1rem;
  box-sizing: border-box;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;  
}

.form-title{
  font-size: 15px;
  font-weight: bold;
}

.filters-checkboxes,.filters-select{
  -webkit-box-flex: 1; 
  -webkit-flex: 1;
  flex: 1;    
}

.filter-label{
  display: block;
}

// curent-talk badge
.map-current-talk{
	position: absolute;
	top: 1rem;
	left: 1rem;

	width: 200px;
	background: $grey;
	border: 1px solid $dark-grey;
	border-bottom: 0;

  opacity: 0.9;
	pointer-events: none;

	div{
		margin: 0.5rem;
	}

	h1{
    font-size: 14px;
		margin: 0;	
	}

	.map-talk-type{
    font-size: 11px;
		margin: 5px 0 0 0;
		font-weight: 600;
    display: none;
	}

	dl{
    font-size: 11px;
		margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    dt{
      width: 60%;
    }

    dt, dd{
    	margin: 0;
      -webkit-box-flex: 1; 
    	-webkit-flex: 1;
    	flex: 1;
    }
    dd{
      white-space: nowrap;
    	text-align: right;
    }
	}

	.map-talk-end{
		position: absolute;
		top: 100%;
		left: -1px;
		width: calc(100% + 1px);

		height: 40px;

		polygon{
			fill: $grey;
		}
		line{
			vector-effect: non-scaling-stroke;
			stroke-width: 1px;
			stroke: $dark-grey;
		}
	}
}


@media screen and (min-width:720px) {
  // map
  .map-current-talk{
    width: 250px;
    opacity: 1;

    h1{
        font-size: 16px;
    }

    .map-talk-type{
        display: block;
        font-size: 16px;
    }

    dl{
        font-size: 16px;
    }    
  }

  .filters-form{
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    flex-direction: row;  
  }
}