.speaker {
    height:48px;
    min-width: 240px;
    clear: both;
    margin: 5px 0px;
}

.main-content {
    overflow: auto;
}

.speaker-name {
    font-size: 1.5em;
}

.speaker-thumbnail {
    width: 100px;
    height: 100px;
    max-height: 100px;
    -webkit-mask-box-image: -webkit-radial-gradient(white,white,white,transparent 50%);
    //border-radius: 100%;
    float: left;
    margin: -15px -10px;
}

.speaker-info {
    margin-left: 72px;
}

.speaker-name {
    margin: 0;
}

.speaker-info .talk {
    margin: 0;
    padding-left: 2rem;

}

.speaker-talks .talk-title {
    margin: 0;
}

.speaker-talks .talk-time {
    font-size: 0.6em;
}

.talk2 h4, .talk2 p {
    padding-left: 0px !important;
    margin: 0.25rem;
}

.talks2 {
    display: -webkit-flex;
    display: flex;
    
    section {

        position: relative;
        margin: $padding;

        min-width: 12rem;

        h2 {
            position: absolute;
            height: 100%;
            width: 2 * $padding;
            left: 0px;

            text-indent: -99999px;
            margin: 0;

            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        &.android {
            h2 {
                background-color: $android-color;
                background-image: url('./../images/product_icons/track_android.png');
            }

            div {
                border-color: $android-color;
            }
        }

        &.chrome {
            h2 {
                background-color: $chrome-color;
                background-image: url('./../images/product_icons/track_chromeapps.png');
            }

            div {
                border-color: $chrome-color;
            }
        }

        &.g-plus {
            h2 {
                background-color: $google-plus-color;
                background-image: url('./../images/product_icons/track_googleplus.png');
            }

            div {
                border-color: $google-plus-color;
            }
        }

        &.cloud {
            h2 {
                background-color: $cloud-color;
                background-image: url('./../images/product_icons/track_googlecloudplatform.png');
            }

            div {
                border-color: $cloud-color;
            }
        }

        &.maps {
            h2 {
                background-color: $google-maps-color;
                background-image: url('./../images/product_icons/track_googlemaps.png');
            }

            div {
                border-color: $google-maps-color;
            }
        }

        &.youtube {
            h2 {
                background-color: $youtube-color;
                background-image: url('./../images/product_icons/track_youtube.png');
            }

            div {
                border-color: $youtube-color;
            }
        }
    }
}