.speaker {
    height:48px;
    min-width: 240px;
    clear: both;
    margin: 5px 0px;
}

.main-content {
    overflow: auto;
}

.speaker-name {
    font-size: 1.5em;
}

.speaker-thumbnail {
    width: 100px;
    height: 100px;
    max-height: 100px;
    -webkit-mask-box-image: -webkit-radial-gradient(white,white,white,transparent 50%);
    //border-radius: 100%;
    float: left;
    margin: -15px -10px;
}

.speaker-info {
    amargin-left: 72px;
}

.speaker-name {
    margin: 0;
}

.speaker-info .talk {
    margin: 0;
}

.speaker-talks .talk-title {
    margin: 0;
}

.speaker-talks .talk-time {
    font-size: 0.6em;
}

#speaker-details .talk-title { font-size: 1.5em; color: #222; line-height: 1.0; margin: 10px 0px }
.talk-tags { margin-left: 20px; font-size: 0.75em; font-weight: bold }
.talk-description { margin: 5px 20px; font-size: 0.75em; }
.talk-time { margin-left: 20px; }


#insert {
    flex:1;
    min-width: 400px;
}

#speaker-details {
    flex:2;
    display:none;
}

.speakers {
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: row;
    flex-direction: row;
}