@import "compass/css3";

$light-grey: rgb(249, 249, 249);
$grey: rgb(186, 186, 186);
$dark-grey: rgb(120, 120, 120);

$bg-color: $light-grey;
$primary-text-color: $dark-grey;

// Product Area Colors
$android-color: rgb(153, 204, 0);
$chrome-color: rgb(2, 148, 199);
$google-plus-color: rgb(204, 74, 44);
$cloud-color: rgb(255, 136, 0);
$google-maps-color: rgb(255, 68, 68);
$youtube-color: rgb(204, 0, 0);


$padding: 1rem;

@mixin breakpoint($point) {
  @if $point == M {
    @media (min-width: 580px) { @content; }
  }
  @else if $point == L {
    @media (min-width: 800px)  { @content; }
  }
}

html, body {
    height: 100%;
    overflow: hidden;

    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;

    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    color: $primary-text-color;
    background-color: $bg-color;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

a {
    -webkit-tap-highlight-color: rgba(0,0,0, 0.0);
}

body > header {
    display: -webkit-flex;
    display: flex;

    h1, a {
        line-height: 2rem;
    }

    h1 {
        margin: ($padding / 2) $padding;

        background-image: url('./../images/io_logo.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        text-indent: -9999px;
        -webkit-flex: 8;
        flex: 8;
    }

    a {
        width: 48px;

        -webkit-justify-content: flex-end;
        justify-content: flex-end;

        padding: ($padding / 2) 0;

        text-indent: -9999px;

        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;
    }

    a:active, a:hover {
        background-color: darken($light-grey, 5%);
    }

    .search {
        background-image: url('./../images/search_icon.png');
    }

    .favorite {
        background-image: url('./../images/favorite_icon.png');
    }

    .info {
        background-image: url('./../images/info_icon.png');
    }

    select {
        margin: auto 0;
    }
}

.main-content {
    /*This feels nasty, but makes flexbox, avoid stretching past the body 100% height*/
    height: 1px;

    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;

    -webkit-flex: 1;
    flex: 1;
}

.info-pane {
    -webkit-flex: 4;
    flex: 4;
}

.menu-items-grid {
    -webkit-flex: 2;
    flex: 2;

    @include breakpoint(L) { -webkit-flex: 1; flex: 1; };

    display: -webkit-flex;
    display: flex;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    -webkit-flex-direction: row;
    flex-direction: row;

    -webkit-justify-content: space-around;
    justify-content: space-around;

    a {
        -webkit-flex: 0 46%;
        flex: 0 46%;

        @include breakpoint(L) { -webkit-flex: 0 24%; flex: 0 24%; };

        position: relative;

        min-height: 3rem;

        background-color: $grey;
        margin-bottom: $padding;
        font-size: 1.5rem;

        color: $bg-color;

        @include breakpoint(M) { font-size: 2rem; min-height: 4rem;}

        span {
            position: absolute;

            display:inline-block;

            bottom: 0px;
            padding: 1rem;
            line-height: 1.0;
        }
    }

    a:active, a:hover {
        background-color: $dark-grey;
    }
}

.wifi-details {
    margin: $padding auto;

    h2{
        margin:0;
    }

    td {
        padding: 0 ($padding / 2);
    }
}

.sessions-now-next {
    display: none;

    @include breakpoint(L) { display: -webkit-flex; display: flex; };

    -webkit-flex-direction: row;
    flex-direction: row;

    overflow-x: scroll;

    section {
        -webkit-flex: 1;
        flex: 1;

        position: relative;
        margin: $padding;

        min-width: 12rem;

        h2 {
            position: absolute;
            height: 100%;
            width: 2 * $padding;
            left: 0px;

            text-indent: -99999px;
            margin: 0;

            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        h3, p {
            padding-left: 3 * $padding;;
        }

        h3 {
            margin: $padding 0 0 0;
        }

        p {
            margin: 0 0 $padding 0;
        }

        &.android {
            h2 {
                background-color: $android-color;
                background-image: url('./../images/product_icons/track_android.png');
            }

            div {
                border-color: $android-color;
            }
        }

        &.chrome {
            h2 {
                background-color: $chrome-color;
                background-image: url('./../images/product_icons/track_chromeapps.png');
            }

            div {
                border-color: $chrome-color;
            }
        }

        &.g-plus {
            h2 {
                background-color: $google-plus-color;
                background-image: url('./../images/product_icons/track_googleplus.png');
            }

            div {
                border-color: $google-plus-color;
            }
        }

        &.cloud {
            h2 {
                background-color: $cloud-color;
                background-image: url('./../images/product_icons/track_googlecloudplatform.png');
            }

            div {
                border-color: $cloud-color;
            }
        }

        &.maps {
            h2 {
                background-color: $google-maps-color;
                background-image: url('./../images/product_icons/track_googlecloudplatform.png');
            }

            div {
                border-color: $google-maps-color;
            }
        }

        &.youtube {
            h2 {
                background-color: $youtube-color;
                background-image: url('./../images/product_icons/track_youtube.png');
            }

            div {
                border-color: $youtube-color;
            }
        }
    }
}